.produto{
    width: 280px;
    border: 1px solid #1976D2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 0,9px #1976D2;
    margin: 15px;
    transition: ease-out 1s;
}

.produto:hover{
    box-shadow: 2px 2px 1px 1px #0855a1;
    transform: scale(1.05);
}

.produto button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: #ff3402;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.01s;
}

.produto button:hover{
    background: #a52c08;
}

.produto img{
    width: 255px;
    height: 390px;
}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
}


